body{
    min-height: 100%;
    margin: 0;
    background: rgb(196, 247, 149);
}

/* .XXXX Usa uma classe*/
.Titulo{
    color: rgb(6, 20, 214);
}

/* #xxxx Usa um Id */
#TextoRef{
    color: snow;
}

html {
    /* To make use of full height of page*/
    min-height: 100%;
    margin: 0;
}

#gui_estilo{
    position: absolute;
    top: 5%;
    left: 5%;
  }
  